@page "/customerdetails/{CustomerId}"
@using RepairShop.Shared.Models
@using RepairShop.Shared.DTOs
@inject HttpClient http

@if (_customerDto == null)
{
    <p> loading .</p>
}
else
{
    <div class="card" style="width:auto">
        <div class="card-body">
            <h2 class="card-title text-center">@_customerDto.Name</h2>
            <p class="card-text text-info text-center">@_customerDto.TvBrand-@_customerDto.TvInch</p>
            <TvListFailures CheckInDtos="@_customerDto.TvCheckIns" /> 
        </div>
    </div>
    
}
 
@code {

    private CustomerDto _customerDto;
    
    [Parameter]
    public string CustomerId { get; set; }

    protected override async Task OnInitializedAsync()
    {
         
        _customerDto = await http.GetFromJsonAsync<CustomerDto>("/api/CustomerData/"+CustomerId);
       
 
    }

}